<section class="section-st section-st_dark">
  <div class="container">
    <div class="mobile--hidden title-site title-site_h2">Сухари/Bread crumbs</div>
    <ul class="bread-crumbs">
      <li><a href="#">Home</a></li>
      <li><a href="#">Item 1</a></li>
      <li><a href="#">Item 2</a></li>
      <li>Item 3</li>
    </ul>
  </div>
</section>

<section class="section-st section-st_light">
  <div class="container">
    <div class="title-site title-site_h2">Pagination</div>
    <ul class="pagination">
      <li class="pagination__prev"><a href="#">prev</a></li>
      <li class="pagination__active"><a href="#">1</a></li>
      <li><a href="#">2</a></li>
      <li><a href="#">3</a></li>
      <li><a href="#">4</a></li>
      <li><a href="#">5</a></li>
      <li><a href="#">...</a></li>
      <li><a href="#">15</a></li>
      <li class="pagination__next"><a href="#">next</a></li>
    </ul>
  </div>
</section>

<section class="section-st section-st_dark">
  <div class="container">
    <div class="title-site title-site_h2">Buttons</div>
    <a href="#" class="btn btn_sm">Small</a>
    <a href="#" class="btn btn_sm btn_min-width">Min width</a>
    <a href="#" class="btn btn_sm btn_second-st">Second style</a>
    <a href="#" class="btn btn_sm btn_border">Border</a>
    <a href="#" class="btn btn_sm btn_second-st btn_border">Border second</a>
    <a href="#" class="btn btn_sm btn_icon">
      <i class="btn__icon btn__icon_left"></i>
      <span class="btn__icon-text">Icon left</span>
    </a>
    <a href="#" class="btn btn_second-st btn_sm btn_icon">
      <span class="btn__icon-text">Icon right</span>
      <i class="btn__icon btn__icon_right"></i>
    </a>

    <br>
    <br>

    <a href="#" class="btn">Default</a>
    <a href="#" class="btn btn_min-width">Min width</a>
    <a href="#" class="btn btn_second-st">Second style</a>
    <a href="#" class="btn btn_border">Border</a>
    <a href="#" class="btn btn_second-st btn_border">Border second</a>
    <a href="#" class="btn btn_icon">
      <i class="btn__icon btn__icon_left"></i>
      <span class="btn__icon-text">Icon left</span>
    </a>
    <a href="#" class="btn btn_second-st btn_icon">
      <span class="btn__icon-text">Icon right</span>
      <i class="btn__icon btn__icon_right"></i>
    </a>

    <br>
    <br>

    <a href="#" class="btn btn_md">Middle</a>
    <a href="#" class="btn btn_md btn_min-width">Min width</a>
    <a href="#" class="btn btn_md btn_second-st">Second style</a>
    <a href="#" class="btn btn_md btn_border">Border</a>
    <a href="#" class="btn btn_md btn_second-st btn_border">Border second</a>
    <a href="#" class="btn btn_md btn_icon">
      <i class="btn__icon btn__icon_left"></i>
      <span class="btn__icon-text">Icon left</span>
    </a>
    <a href="#" class="btn btn_second-st btn_md btn_icon">
      <span class="btn__icon-text">Icon right</span>
      <i class="btn__icon btn__icon_right"></i>
    </a>


    <br>
    <br>

    <a href="#" class="btn btn_lg">Large</a>
    <a href="#" class="btn btn_lg btn_min-width">Min width</a>
    <a href="#" class="btn btn_lg btn_second-st">Second style</a>
    <a href="#" class="btn btn_lg btn_border">Border</a>
    <a href="#" class="btn btn_lg btn_second-st btn_border">Border second</a>
    <a href="#" class="btn btn_lg btn_icon">
      <i class="btn__icon btn__icon_left"></i>
      <span class="btn__icon-text">Icon left</span>
    </a>
    <a href="#" class="btn btn_second-st btn_lg btn_icon">
      <span class="btn__icon-text">Icon right</span>
      <i class="btn__icon btn__icon_right"></i>
    </a>
    <!--
    <br>
    <br>

    <div><h4>Next styles btn</h4>
      <a href="#" class="btn btn_font-bold">Bold</a>
      <a href="#" class="btn btn_font-light">Bold</a>
      <a href="#" class="btn btn_size-sm">Size sm</a>
      <a href="#" class="btn btn_size-md">Size md</a>
      <a href="#" class="btn btn_size-lg">Size lg</a>
      <a href="#" class="btn btn_up">Uppercase</a>
      <a href="#" class="btn btn_radius-sm">radius sm</a>
    </div>
    -->
  </div>
</section>


<section class="section-st section-st--light">
  <div class="container">
    <form action="#" class="st-form">
      <div class="title-site title-site_h2">Form</div>
      <div class="form-group">
        <label for="formName" class="form-group__label">Text</label>
        <input id="formName" class="form-group__field" type="text" placeholder="Your name" required>
      </div>
    
      <div class="form-group">
        <label for="formPassword" class="form-group__label">Password</label>
        <input id="formPassword" class="form-group__field" type="password" placeholder="Password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Не менее восьми символов, содержащих хотя бы одну цифру и символы из верхнего и нижнего регистра" required>
      </div>
    
    
      <div class="form-group form-group_inline">
        <label for="formEmail" class="form-group__label">E-mail</label>
        <input id="formEmail" class="form-group__field" type="email" placeholder="E-mail" pattern="[^@]+@[^@]+\.[a-zA-Z]{2,6}" required>
      </div>
    
      <div class="form-group form-group_inline">
        <label for="formPhone" class="form-group__label">Phone number long string</label>
        <input id="formPhone" class="form-group__field mask-phone" type="tel" placeholder="+7" required>
      </div>
    
    
      <div class="form-group-grid">
        <div class="form-group form-group-grid__half-col">
          <label for="formSearch" class="form-group__label">Search</label>
          <input id="formSearch" class="form-group__field" type="search" placeholder="Search">
        </div>
    
        <div class="form-group form-group-grid__half-col">
          <label for="formUrl" class="form-group__label">Website</label>
          <input id="formUrl" class="form-group__field" type="url" placeholder="Url your website" pattern="(http|https)://.+">
        </div>
      </div>
    
    
      <div class="form-group-grid">
        <div class="form-group form-group-grid__three-col">
          <label class="form-group__label">Text</label>
          <input class="form-group__field" type="text" placeholder="Your name" required>
        </div>
    
        <div class="form-group form-group-grid__three-col">
          <label class="form-group__label">Text</label>
          <input class="form-group__field" type="text" placeholder="Your name" required>
        </div>
    
        <div class="form-group form-group-grid__three-col">
          <label class="form-group__label">Text</label>
          <input class="form-group__field" type="text" placeholder="Your name" required>
        </div>
      </div>
    
    
      <div class="form-group-grid">
        <div class="form-group form-group-grid__four-col">
          <label class="form-group__label">Text</label>
          <input class="form-group__field" type="text" placeholder="Your name" required>
        </div>
    
        <div class="form-group form-group-grid__four-col">
          <label for="formEmail2" class="form-group__label">Email</label>
          <input id="formEmail2" class="form-group__field" type="email" placeholder="Email" pattern="[^@]+@[^@]+\.[a-zA-Z]{2,6}" required>
        </div>
    
        <div class="form-group form-group-grid__four-col">
          <label for="formPhone2" class="form-group__label">PhoneNumber</label>
          <input id="formPhone2" class="form-group__field mask-phone" type="tel" placeholder="+7"{2: required}>
        </div>
    
        <div class="form-group form-group-grid__four-col">
          <label class="form-group__label">input</label>
          <input class="btn btn_max" type="submit" value="Submit">
        </div>
      </div>

      <div class="form-group">
        <label class="check">
          <input class="check__input" type="checkbox">
          <span class="check__box"></span>
          Checkbox
        </label>

        &nbsp;&nbsp;

        <label class="check">
          <input class="check__input" type="checkbox" checked>
          <span class="check__box"></span>
          Checkbox checked
        </label>

        &nbsp;&nbsp;

        <label class="check">
          <input class="check__input" type="checkbox" disabled>
          <span class="check__box"></span>
          Checkbox disabled
        </label>

        &nbsp;&nbsp;

        <label class="check">
          <input class="check__input" type="checkbox" checked disabled>
          <span class="check__box"></span>
          Checkbox checked and disabled
        </label>
      </div>

      <div class="form-group">
        <label class="radio">
          <input class="radio__input" name="fieldRadio" type="radio">
          <span class="radio__box"></span>
          Radio
        </label>

        &nbsp;&nbsp;

        <label class="radio">
          <input class="radio__input" name="fieldRadio" type="radio">
          <span class="radio__box"></span>
          Radio
        </label>

        &nbsp;&nbsp;

        <label class="radio">
          <input class="radio__input" name="fieldRadio" type="radio" disabled>
          <span class="radio__box"></span>
          Radio disabled
        </label>

        &nbsp;&nbsp;

        <label class="radio">
          <input class="radio__input" name="fieldRadio" type="radio" checked disabled>
          <span class="radio__box"></span>
          Radio checked and disabled
        </label>
      </div>

      <div class="form-group">
        <label class="check">
          <input class="check__input" name="fieldRadio2" type="radio">
          <span class="check__box"></span>
          Radio check style
        </label>

        &nbsp;&nbsp;

        <label class="check">
          <input class="check__input" name="fieldRadio2" type="radio">
          <span class="check__box"></span>
          Radio check style
        </label>

        &nbsp;&nbsp;

        <label class="check">
          <input class="check__input" name="fieldRadio2" type="radio" disabled>
          <span class="check__box"></span>
          Radio check style disabled
        </label>

        &nbsp;&nbsp;

        <label class="check">
          <input class="check__input" name="fieldRadio2" type="radio" checked disabled>
          <span class="check__box"></span>
          Radio check style checked and disabled
        </label>
      </div>
    
    
      <div class="form-group text_center">
        <button class="btn btn_md btn_min-width" type="submit">button Submit</button>
      </div>
    </form>
  </div>
</section>


<section class="section-st section-st_dark">
  <div class="container">
    <span class="title-site_h2 title-site">Text</span>
    <div class="text-bl">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda reiciendis, sint quam iste dicta quasi sapiente ipsum blanditiis voluptatum repellat delectus, veniam eligendi non totam, dolore aliquam temporibus quidem commodi.</p>
      <h1>h1 price symbol ---------------> ₽ $ € ¥ £ ƒ ₣ ¢ ¤ ฿ ₠ ₡ ₢ ₤ </h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda reiciendis, sint quam iste dicta quasi sapiente ipsum blanditiis voluptatum repellat delectus, veniam eligendi non totam, dolore aliquam temporibus quidem commodi.</p>
      <div class="text_center">
        <h2>h2 Text center</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda reiciendis, sint quam iste dicta quasi sapiente ipsum blanditiis voluptatum repellat delectus, veniam eligendi non totam, dolore aliquam temporibus quidem commodi.</p>
      </div>
      <div class="text_right">
        <h3>h3 text right</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda reiciendis, sint quam iste dicta quasi sapiente ipsum blanditiis voluptatum repellat delectus, veniam eligendi non totam, dolore aliquam temporibus quidem commodi.</p>
      </div>
      <div class="text_uppercase">
        <h4>h4 text uppercase</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda reiciendis, sint quam iste dicta quasi sapiente ipsum blanditiis voluptatum repellat delectus, veniam eligendi non totam, dolore aliquam temporibus quidem commodi.</p>
      </div>
      <h5>h5 Lorem ipsum dolor sit amet, consectetur adipisicing.</h5>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda reiciendis, sint quam iste dicta quasi sapiente ipsum blanditiis voluptatum repellat delectus, veniam eligendi non totam, dolore aliquam temporibus quidem commodi.</p>
      <h6>h6 Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h6>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure, similique. Architecto quo cum, sunt consequuntur quaerat, commodi ratione natus laboriosam deserunt error numquam et optio, possimus beatae rem ex. Unde.</p>
      <br>
      <ul>
        <li>Lorem ipsum.</li>
        <li>Lorem ipsum.</li>
        <li>Lorem ipsum.</li>
      </ul>
      <br>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora magnam, similique quam blanditiis aperiam accusamus quia. Sed nam ullam ut maiores. Voluptas deleniti delectus, temporibus nam enim vero ea molestiae.</p>
      <br>
      <ol>
        <li>Lorem ipsum.</li>
        <li>Lorem ipsum.</li>
        <li>Lorem ipsum.</li>
      </ol>
      <p><i>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure, similique. Architecto quo cum, sunt consequuntur quaerat, commodi ratione natus laboriosam deserunt error numquam et optio, possimus beatae rem ex. Unde.</i></p>
      <p><i>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure, similique. Architecto quo cum, sunt consequuntur quaerat, commodi ratione natus laboriosam deserunt error numquam et optio, possimus beatae rem ex. Unde.</i></p>
      <p>
        <h6>mathematical fractions</h6>
        ⅟ &frac12; &frac13; &frac14; &frac15; &frac16; &frac18; ⅑ ⅒ &frac23; &frac34; ⅖ ⅗ ⅘ ⅚ ⅜ ⅝ ⅞<br>
        Ⅰ Ⅱ Ⅲ Ⅳ Ⅴ Ⅵ Ⅶ Ⅷ Ⅸ Ⅹ Ⅺ Ⅻ<br>
        1234567890
        <br>
        <br>
        <h6>geometric figures</h6>
        &laquo; &raquo; ← ↑ → ↓ ↔ ↕ ↖ ↗ ↘ ↙ ↤ ↦ ↥ ↧ ↺ ↻ ⤡ ⤢ ⇅ ⇆ ⇇ ⇈ ⇉ ⇊ ⬅ ⬆ ⬇ ⬈ ⬉ ⬊ ⬋ ⬌ ⬍ ⏎ ▲ ▼ ◀ ▶ <br> ★ ☆ ♪ ♫ ♩ ♬ ☑ ✓ ✔ &plusmn; &times; ✕ ✖ ☒ &copy; &reg; &trade; &pi; &#8470; &#9742; &#9993;
      </p>
      <br>
    </div>


    <div class="title-site title-site_h3">Two column text (h3)</div>
    <div class="text-bl-grid">
      <div class="text-bl text-bl-grid__half-col">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo sapiente nemo, eligendi facilis accusamus sequi est hic rerum et repellendus voluptas provident. Nisi, nihil qui earum a, pariatur esse, fuga nobis possimus quisquam repudiandae nostrum placeat ipsa itaque? Veniam cumque laboriosam repudiandae, totam nihil doloremque explicabo. Recusandae voluptatibus, tenetur praesentium sed cum dicta a tempora. Esse delectus commodi totam enim, laborum a excepturi assumenda sit voluptatum consequatur accusantium impedit ea quisquam libero. Ipsa, molestiae fugit neque ut, adipisci est iusto <b>dicta aliquam maiores nulla tempora consequatur amet alias, eveniet nam numquam ab iste non possimus similique? Quia quo esse distinctio.</b><span class="text_hidden"><b>text hidden  → </b>Tau­ma­ta­wha­ka­tan­gi­han­ga­ko­au­au­ota­ma­tea­tu­ri­pu­ka­ka­pi­ki­ma­u­nga­ho­ro­nu­ku­po­kai­whe­nu­a­ki­ta­na­ta­hu</span></p>
      </div>
      <div class="text-bl text-bl-grid__half-col">
        <p><b>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis, <strong>non consequuntur harum</strong> aliquam quibusdam placeat. Ipsam alias consequuntur, iure vitae ad.</b> Quas error ut dolorum vero et commodi voluptatum. Distinctio perferendis fuga, excepturi? Tempore, corporis architecto! Pariatur hic dignissimos libero ullam. Molestiae ullam, voluptatibus sunt labore. Consequuntur et sapiente maxime harum esse aperiam, rem amet est numquam quos nobis optio veniam maiores neque repellat minima, debitis blanditiis odio. Quam molestiae non nobis hic qui et explicabo sit, debitis, accusantium laboriosam illum blanditiis. Amet explicabo <i>a vitae quos praesentium doloribus, modi consequatur? <a href="#">Text Link</a></i></p>
      </div>
    </div>
  </div>
</section>

<div class="section-st">
  <div class="container">
    <div class="title-site title-site_h1 text_center">Title pages</div>
    <div class="title-site title-site_h1">H1 Title pages h1</div>
    <div class="title-site title-site_h2">H2 Title pages h2</div>
    <div class="title-site title-site_h3">H3 Title pages h3</div>
    <div class="title-site title-site_h4">H4 Title pages h4</div>
    <div class="title-site title-site_h5">H5 Title pages h5</div>
    <div class="title-site title-site_h6">H6 Title pages h6</div>
  </div>
</div>

<div class="section-st hidden-full">
  <div class="container">
    <div class="title-site title-site_h1 text_center">slider default</div>
    <div class="carousel-st-wrapp">
      <div class="carousel-st owl-carousel owl-carousel_one">
        <div class="carousel-st-item text_center">
          <img src="https://api.fnkr.net/testimg/350x200/00CED1/FFF/?text=Slider Box">
        </div>
        <div class="carousel-st-item text_center">
          <img src="https://api.fnkr.net/testimg/350x200/00CED1/FFF/?text=Slider Box">
        </div>
      </div>
    </div>
  </div>
</div>

<div class="section-st hidden-full">
  <div class="container">
    <div class="title-site title-site_h1">select default</div>
    <form action="#" class="form-st">
      <select class="slct">
        <option value="v1">item1</option>
        <option value="v2">item2</option>
        <option value="v3">item3</option>
        <option value="v4">item4</option>
        <option value="v5">item5</option>
      </select>
    </form>
  </div>
</div>