/* ----- Typography -------------------- */
*
  -webkit-box-sizing: border-box
  -moz-box-sizing: border-box
  box-sizing: border-box

body
  width: 100%
  margin: 0
  padding: 0
  background-color: $site-fill-color
  font: $site-font-style $site-font-weight $body-text-size $site-font-family
  color: $site-text-color

.title-site, h1, h2, h3, h4, h5, h6
  display: block
  margin: 0 0 15px
  padding: 0
  font-family: $title-font-weight
  font-weight: $title-font-family
  line-height: $title-line-height
  color: $site-title-color

h1, .title-site_h1
  font-size: $site-h1-size-mobile
  margin-bottom: 20px

h2, .title-site_h2
  font-size: $site-h2-size-mobile
  margin-bottom: 20px

h3, .title-site_h3
  font-size: $site-h3-size-mobile

h4, .title-site_h4
  font-size: $site-h4-size-mobile

h5, .title-site_h5
  font-size: $site-h5-size-mobile
  line-height: 1.3em

h6, .title-site_h6
  font-size: $site-h6-size-mobile
  line-height: 1.3em

ul, ol
  list-style-type: none
  margin: 0
  padding: 0

li
  margin: 0
  padding: 0

p
  margin: 0 0 20px

.text-bl
  ul
    margin-bottom: 20px
    list-style-type: disc
    padding-left: 15px

  ol
    margin-bottom: 20px
    list-style-type: decimal
    padding-left: 15px

  li
    margin-bottom: 10px

.text_center
  text-align: center

.text_left
  text-align: left

.text_right
  text-align: right

.text_uppercase
  text-transform: uppercase

.text_hidden
  display: block
  white-space: nowrap
  text-overflow: ellipsis
  overflow: hidden


img
  vertical-align: middle
  max-width: 100%

a
  color: $color-link
  text-decoration: underline

  &:hover
    text-decoration: none
    color: $color-h-link

/* Min width 768 pixels */
@media only screen and (min-width: 768px)
  h1, .title-site_h1
    font-size: 42px

  h2, .title-site_h2
    font-size: $site-h2-size

  h3, .title-site_h3
    font-size: $site-h3-size

  h4, .title-site_h4
    font-size: $site-h4-size

  h5, .title-site_h5
    font-size: $site-h5-size

  h6, .title-site_h6
    font-size: $site-h6-size

  .text-bl-grid
    display: flex
    justify-content: space-between

    &__half-col
      width: 48%
  /* end media min width 768 pixels */

/* Min width 1000 pixels */
@media only screen and (min-width: 1000px)
  h1, .title-site_h1
    font-size: $site-h1-size
/* end media min width 1000 pixels */

/* ----- END Typography ---------------- */
/*                                       */
/*                                       */






