<!-- footer -->
<footer id="footer" class="footer">
  <div class="container">
    <div class="f-grid">
      <div class="f-grid__about">
        <div class="f-about">
          <div class="title-site title-site_h5">About</div>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad m inim veniam, quis nostrud exercitation toui ullamcomi laboris nisi ut aliquip ex ea commodo consequat.</p>
          <ul class="social">
            <li><a href="#"><span class="icon icon_soc1"></span></a></li>
            <li><a href="#"><span class="icon icon_soc2"></span></a></li>
            <li><a href="#"><span class="icon icon_soc3"></span></a></li>
            <li><a href="#"><span class="icon icon_soc4"></span></a></li>
            <li><a href="#"><span class="icon icon_soc5"></span></a></li>
          </ul>
        </div>
      </div>
      <div class="f-grid__contact">
        <div class="f-contact">
          <div class="title-site title-site_h5">CONTACT US</div>
          <div class="f-points">
            <div class="f-point">
              <span class="icon icon_ic-adr"></span>
              5419 Joseph Mountains <br> Apt. 716
            </div>
            <div class="f-point">
              <span class="icon icon_ic-message"></span>
              <a href="mailto:joga.info@example.com">joga.info@example.com</a>
            </div>
            <div class="f-point">
              <span class="icon icon_ic-tel"></span>
              <a href="tel:+1 234 567 89">+1 234 567 89</a> <br> <a href="+1 234 678 90">+1 234 678 90</a>
            </div>
            <div class="f-point">
              <span class="icon icon_ic-planet"></span>
              <a href="www.example.com">www.example.com</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="f-copy">
    <div class="container">
      <span>Copyright  &copy;  2016-2017 Yoga classes</span>
    </div>
  </div>
</footer>
<!-- end footer -->