<!-- header -->
<header id="header" class="header">
  <div class="container group">
    <br><span class="title-site--h2">Header</span>

    <div class="logo"><a href="#"><img src="img/logo.png" alt="logotype"></a></div>

    <div class="head-menu">
      <div class="burger-menu">
        <div class="burger-menu-box">
          <div class="burger-menu-inner"></div>
        </div>
      </div>


      <div class="menu-wrapper-fixed">
        <div class="menu-open-wrapper">

          <nav class="header-nav">
            <ul class="menu">
              <li class="menu-item">
                <a href="#" class="menu-item__link">Home</a>
              </li>

              <li class="menu-item">
                <span class="menu-item__link menu-item__link_dd-open">Service</span>
                <ul class="menu-dd">
                  <li class="menu-dd-item">
                    <a href="#" class="menu-dd-item__link">Special</a>
                  </li>
                  <li class="menu-dd-item">
                    <a href="#" class="menu-dd-item__link">Links</a>
                  </li>
                  <li class="menu-dd-item">
                    <a href="#" class="menu-dd-item__link">About</a>
                  </li>
                </ul>
              </li>

              <li class="menu-item">
                <a href="#" class="menu-item__link">Company</a>
              </li>
              <li class="menu-item">
                <a href="#" class="menu-item__link">Contacts</a>
              </li>
              <li class="menu-item">
                <a href="#" class="menu-item__link">Events</a>
              </li>
              <li class="menu-item">
                <a href="#" class="menu-item__link">About</a>
              </li>
              <li class="menu-item">
                <a href="#" class="menu-item__link">Contacts</a>
              </li>
            </ul>
          </nav>

        </div>
      </div>
    </div>

  </div>
</header>
<!-- end header -->