<!-- header -->
<header id="header" class="header">
  <div class="container">

    <div class="logo logo_mobile"><a href="#"><img src="img/logo.png" alt="logotype"></a></div>

    <div class="head-menu">
      <div class="burger-menu">
        <div class="burger-menu-box">
          <div class="burger-menu-inner"></div>
        </div>
      </div>


      <div class="menu-wrapper-fixed">
        <div class="menu-open-wrapper">

          <nav class="header-nav">
            <ul class="menu">
              <li class="menu-item">
                <a href="#" class="menu-item__link scrollto">About us</a>
              </li>
              <li class="menu-item">
                <a href="#" class="menu-item__link scrollto">Reservation</a>
              </li>
              <li class="menu-item">
                <a href="#" class="menu-item__link scrollto">Gallery</a>
              </li>
              <li class="menu-item menu-item_logo">
                <a href="#" class="menu-item__logo">
                  <img src="img/logo.png" alt="logotype">
                </a>
              </li>
              <li class="menu-item">
                <a href="#" class="menu-item__link scrollto">Blog</a>
              </li>
              <li class="menu-item">
                <a href="#" class="menu-item__link scrollto">Elements</a>
              </li>
              <li class="menu-item">
                <a href="#" class="menu-item__link scrollto">Shop</a>
              </li>
            </ul>
          </nav>

        </div>
      </div>
    </div>

  </div>
</header>
<!-- end header -->