<div id="modalPhone" class="st-modal">
  <form class="form-st form-st_banner form-st_banner-st form-st_light">
    <div class="form-st__tt">Форма обратного звонка</div>
    <div class="form-st__txt">Заполните форму и мы перезвоним вам<br>в течении 15 минут!</div>
    <div class="form-group">
      <input class="form-group__field form-group__field_border" type="text" placeholder="Ваше имя">
    </div>
    <div class="form-group">
      <input class="form-group__field form-group__field_border mask-phone" type="tel" placeholder="+7 (___) ___-__-__">
    </div>
    <div class="form-group form-group_btn-lg">
      <input type="submit" class="btn btn_min-width btn_second-st" value="Перезвоните мне!">
    </div>
  </form>
</div>