/* ----- Sprite icons ------------------- */
a.icon
  text-decoration: none
  outline: none
  
.icon
  display: inline-block
  vertical-align: middle

/* ----- END Sprite icons --------------- */
/*                                        */
/*                                        */